<p>
    <mat-toolbar color="primary">
        <span>Angular Weather</span>
        <span class="tool-bar-spacer"></span>
        <a mat-icon-button aria-label="home button" routerLink="">
            <mat-icon>home</mat-icon>
        </a>
        <a mat-icon-button aria-label="current weather" routerLink="current-weather">
            <mat-icon>wb_sunny</mat-icon>
        </a>
        <a
        mat-icon-button
        aria-label="24 hour weather"
        routerLink="weather-forecast"
        >
            <mat-icon>schedule</mat-icon>
        </a>
        <a
        mat-icon-button
        aria-label="about angular weather"
        routerLink="about"
        >
            <mat-icon>info</mat-icon>
    </a>
    </mat-toolbar>
</p>
